<h1><%= t('inPages.Employees.forms.editing employee')%></h1>

<%= render "form", employee: @employee %>

<br>

<div>
  <%= link_to t('inPages.Employees.buttons.show employee'), @employee %> |
  <%= link_to t('inPages.Employees.buttons.back to employees'), employees_path %>
</div>

