<h1> <%= t('inPages.Divisions.forms.editing division') %> </h1>

<%= render "form", division: @division %>

<br>

<div>
  <%= link_to t('inPages.Divisions.buttons.show division'), @division %> |
  <%= link_to t('inPages.Divisions.buttons.back to divisions'), divisions_path %>
</div>
